<section id="form-container" class="text-center">
  <h3
    class="font-neuething text-xl md:text-3xl text-center text-white mb-[30px]"
    pardot-region="text-33"
    pardot-region-type="wysiwyg"
  >
    ¿Te perdiste nuestro evento?<br> No te quedes atrás.
  </h3>
  <p
    class="font-fort-book md:text-base text-xl text-white px-10 text-center mb-[20px] max-w-[700px] m-auto"
    pardot-region="form-text"
    pardot-region-type="wysiwyg"
  >
    Si lo deseas puedes elegir la opción de concretar una reunión con nosotros y
    te mostraremos cómo el Marketing Cloud Next puede acelerar tus resultados.
  </p>

</section>
