---
import ElementsContainer from "@/components/main-section/ElementsContainer.astro";
import Element from "@/components/main-section/Element.astro";
---

<section class="py-[50px]">
  <h1
    class="text-white font-neuething text-5xl text-center leading-16"
    pardot-region="text-2"
    pardot-region-type="wysiwyg"
    pardot-removable=""
  >
    Marketing Cloud Next,<br /> la primera solución de marketing<br /> de agentes
    de IA
  </h1>
  <article>
    <ElementsContainer>
      <Element
        img="https://go.pardot.com/l/876061/2025-08-24/qqkpx/876061/1756068602BFZsemm8/section_item_1.png"
        title="Crea campañas en horas, no en días "
        text="Nuestros agentes de IA se encargan de las tareas complejas, desde la optimización de medios de pago hasta la creación de campañas completas, permitiéndote lanzar iniciativas en tiempo récord y con la máxima eficiencia."
      />

      <Element
        img="https://go.pardot.com/l/876061/2025-08-24/qqkr7/876061/1756069417AimNPHL0/section_item_2.png"
        title="Libera a tu equipo para la estrategia"
        text="Al automatizar las tareas repetitivas y de gran volumen, la herramienta permite que tus expertos en marketing se centren en lo que realmente importa: la creatividad, la estrategia y la construcción de relaciones duraderas con los clientes."
      />

      <Element
        img="https://go.pardot.com/l/876061/2025-08-24/qqkrb/876061/1756069531kuZWrO5g/section_item_3.png"
        title="Personalización a escala sin precedentes"
        text="Cada interacción se convierte en una conversación bidireccional inteligente. Los agentes de IA coordinan el viaje del cliente a través de ventas, servicio y comercio, asegurando una experiencia personalizada y coherente en cada punto de contacto."
      />
    </ElementsContainer>
    <div
      class="max-w-[800px] h-[260px] relative m-auto flex pt-[30px] pl-[150px]"
      pardot-removable=""
    >
      <h3
        class="relative font-neuething text-2xl text-white z-10"
        pardot-region="text-3"
        pardot-region-type="wysiwyg"
      >
        Estamos a la vanguardia siendo los primeros en el mercado en implementar
        esta revolucionaria tecnología de agentes de inteligencia artificial.
      </h3>
      <img
        src="https://go.pardot.com/l/876061/2025-08-24/qqkrj/876061/1756069895wK3BleB1/asset.webp"
        alt="icon"
        class="absolute top-0 left-0 bottom-0 z-0"
      />
    </div>
  </article>
</section>
