<div class="relative overflow-hidden">
  <div
    class="flex items-center h-[500px] w-[240vw] justify-center transition-transform duration-700 ease-in-out"
    id="carousel"
    style="transform: translateX(calc(50vw - 40vw - 0 * 80vw));"
  >
    <div class="w-[70vw] h-full md:flex items-center relative mx-[5vw] hidden">
      <img
        class="w-full"
        src="https://go.pardot.com/l/876061/2025-08-11/qqd1r/876061/1754952027EtruwHfa/img_3.webp"
        alt="slide-1"
      />
    </div>
    <div class="w-[70vw] h-full md:flex items-center relative mx-[5vw] hidden">
      <img
        class="w-full"
        src="https://go.pardot.com/l/876061/2025-08-13/qqf4n/876061/1755128427bULjMqzk/img_1.webp"
        alt="slide-2"
      />
    </div>
    <div class="w-[70vw] h-full md:flex items-center relative mx-[5vw] hidden">
      <img
        class="w-full"
        src="https://go.pardot.com/l/876061/2025-08-11/qqd1k/876061/1754952027GUau0MsJ/img_2.webp"
        alt="slide-3"
      />
    </div>

    <!-- MOBILE -->
    <div class="w-[70vw] h-full flex items-center relative mx-[5vw] md:hidden">
      <img
        class="w-full"
        src="https://go.pardot.com/l/876061/2025-09-03/qqrsf/876061/1756909008TG7Pl9wq/slide_mobile_1.webp"
        alt="slide-1"
      />
    </div>
    <div class="w-[70vw] h-full flex items-center relative mx-[5vw] md:hidden">
      <img
        class="w-full"
        src="https://go.pardot.com/l/876061/2025-09-03/qqrsj/876061/1756909038pKHbtoOy/slide_mobile_2.webp"
        alt="slide-2"
      />
    </div>
    <div class="w-[70vw] h-full flex items-center relative mx-[5vw] md:hidden">
      <img
        class="w-full"
        src="https://go.pardot.com/l/876061/2025-09-03/qqrsm/876061/1756909065eDlsES0G/slide_mobile_3.webp"
        alt="slide-3"
      />
    </div>
  </div>
</div>
