<div class="relative overflow-hidden">
  <div
    class="flex items-center h-[500px] w-[240vw] justify-center transition-transform duration-700 ease-in-out"
    id="carousel"
    style="transform: translateX(calc(50vw - 40vw - 0 * 80vw));"
  >
    <div class="w-[70vw] h-full flex items-center relative mx-[5vw]">
      <img
        class="w-full"
        src="https://go.pardot.com/l/876061/2025-08-11/qqd1r/876061/1754952027EtruwHfa/img_3.webp"
        alt="slide-1"
      />
    </div>
    <div class="w-[70vw] h-full flex items-center relative mx-[5vw]">
      <img
        class="w-full"
        src="https://go.pardot.com/l/876061/2025-08-11/qqd1g/876061/1754952027cwvMdF9L/img_1.webp"
        alt="slide-2"
      />
    </div>
    <div class="w-[70vw] h-full flex items-center relative mx-[5vw]">
      <img
        class="w-full"
        src="https://go.pardot.com/l/876061/2025-08-11/qqd1k/876061/1754952027GUau0MsJ/img_2.webp"
        alt="slide-3"
      />
    </div>
  </div>
</div>
