<footer
  class="bg-[#C6002F] flex flex-col md:flex-row gap-14 md:gap-0 md:items-center px-10 md:px-0 md:justify-evenly py-[40px]"
  pardot-removable=""
>
  <div>
    <img
      src="https://go.pardot.com/l/876061/2025-08-11/qqd1v/876061/1754952539Y2qkJQ2h/logo_wam.webp"
      alt="logo WAM footer"
      class="lg:w-[300px] md:w-[200px] w-[250px]"
      pardot-region="logo-footer"
      pardot-region-type="image"
    />
  </div>
  <div class="font-fort-book flex flex-col md:flex-row gap-10 text-white">
    <ul>
      <li
        class="mb-4"
        pardot-region="f-link1"
        pardot-region-type="html"
        pardot-removable=""
      >
        <a href="https://wam.global/privacy.html" target="_blank"
          ><span>Privacy Policy</span></a
        >
      </li>
      <li
        class="mb-4"
        pardot-region="f-link2"
        pardot-region-type="html"
        pardot-removable=""
      >
        <a href="https://wam.global/privacy.html" target="_blank"
          ><span>Legal Policy</span></a
        >
      </li>
      <li
        class="mb-4"
        pardot-region="f-link3"
        pardot-region-type="html"
        pardot-removable=""
      >
        <a href="https://wam.global/cookies.html" target="_blank"
          ><span>Cookies Policy</span></a
        >
      </li>
    </ul>
    <ul>
      <li
        class="mb-4"
        pardot-region="f-link4"
        pardot-region-type="html"
        pardot-removable=""
      >
        <a href="tel:+34910841760" target="_blank"><span>+34 910841760</span></a
        >
      </li>
      <li
        class="mb-4"
        pardot-region="f-link5"
        pardot-region-type="html"
        pardot-removable=""
      >
        <a href="mailto:marketing@wearemarketing.com" target="_blank"
          ><span>marketing@wearemarketing.com</span></a
        >
      </li>
      <li
        class="mb-4"
        pardot-region="f-link6"
        pardot-region-type="html"
        pardot-removable=""
      >
        <a href="https://maps.app.goo.gl/3ZqgwFtKScgQEk6S9" target="_blank"
          ><span>Calle Paseo de la Habana 35,<br /> 28036 Madrid</span></a
        >
      </li>
    </ul>
    <ul>
      <li class="mb-4" pardot-region="f-link7" pardot-region-type="html">
        <a
          href="https://www.linkedin.com/company/wearemarketing-wam/"
          target="_blank"><span>Linkedin</span></a
        >
      </li>
      <li
        class="mb-4"
        pardot-region="f-link8"
        pardot-region-type="html"
        pardot-removable=""
      >
        <a href="https://www.instagram.com/wamglobal/" target="_blank"
          ><span>Instagram</span></a
        >
      </li>
    </ul>
  </div>
</footer>
