---
import Carousel from "@/components/Carousel.astro";
---

<header
  class="relative md:bg-size-[130%] md:bg-position-[center_-150px] md:py-[60px] bg-no-repeat bg-cover bg-center"
  style="background-image: url('https://go.pardot.com/l/876061/2025-08-11/qqd1n/876061/17549520271dIETIQ6/header_bg.webp');"
>
  <div
    class="absolute top-0 left-0 right-0 bottom-0 bg-main-black opacity-40 z-0"
  >
  </div>
  <div class="relative flex items-center justify-center mb-6 z-10">
    <img
      src="https://go.pardot.com/l/876061/2025-08-11/qqd1v/876061/1754952539Y2qkJQ2h/logo_wam.webp"
      alt="logo WAM"
      class="w-[300px]"
    />
  </div>

  {/* slider */}
  <div>
    <Carousel />
  </div>

  <div class="flex items-center justify-center flex-col">
    <p
      class="text-white max-w-[800px] text-center z-10 text-lg mb-7 font-fort-book px-6 md:px-0"
      pardot-region="text-1"
      pardot-region-type="wysiwyg"
      pardot-removable=""
    >
      Presentamos una nueva forma de entender el CRM. <br /> Una visión más ágil,
      más integrada, más enfocada en hacer crecer el negocio. <br />Ahora puedes
      volver a verlo. O descubrirlo por primera vez.
    </p>

    <div pardot-region="link" pardot-region-type="html" class="z-10 relative">
      <a
        class="bg-main-red py-[15px] px-[50px] z-10 text-white uppercase font-neuething text-sm"
        href="#"
        pardot-removable="">ver evento</a
      >
    </div>
  </div>
  {/* gradient */}
  <div
    class="h-[250px] absolute bottom-0 left-0 z-0 right-0 bg-gradient-to-t from-main-black to-transparent"
  >
  </div>
</header>
